h1{
    color: red;
    position: relative;
    left: 200px;
}
p{
    position: relative;
    left: 175px;
}

.fullscreen-bg__video {
    position: fixed; 
    top: 0;
    left: 0;
    min-width: 100%; 
    min-height: 100%;
    z-index: -1;
}