*{
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}
#titulo{
    font-weight: normal
    
}

#subtitulo{
    font-weight: normal
}

#menu ul li a {
    
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li { display: inline; }

.texto{
    color: white;
}

#titulo{
    font-size: 50px;
}

#subtitulo{
    font-size: 20px;
}

#menu-superior ul li a {
    
    padding: 2px 10px;
    display: inline-block;

    /* visual do link */
    color:white;
    text-decoration: none;
    word-spacing: 100px;
    
}
#menu-superior ul li a {
    padding:0px;
    margin:0px;
    list-style:none;
}
#menu-superior ul li { display: inline;}

#menu-superior ul {
    background-color:gray;
    top: auto;
}

.texto{
    color: white;
}

#img{
    max-width: auto;
    max-height: auto;   
    border-width: 8px;
    border-style: inset;
    border-color: white;
    margin-right: 50px;
    border-radius: 200px;
}