*{
    font-family: 'Segoe UI', Tahoma, sans-serif;

}

body{
    background: rgb(2,0,36);
    background: linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
}
#titulo{
    font-size: 50px;
    color: white;
    font-weight: normal
}
#subtitulo{
    font-size: 20px;
    font-weight: normal
    
}
#link{
    text-decoration: none;
    border-bottom: dotted 2px;
}
#link:hover{
    border-bottom: none;
}
nav{
    background-color: white;
    text-align: center;
    padding: 2%;
    border-radius: 100px;

}
nav ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    
}
nav ul li{
    display: inline;
    
}
nav ul li a{
    padding: 3%;
    text-decoration: none;
    color: black;
    position: sticky;
    top: 0px;
}
a:hover{
    padding: 0.1rem;
    background-color: rgba(240, 239, 239, 0.9);
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    position: fixed;
}
.texto{
    color: white;
}
.texto{
    color: white;
}
#img{
    box-sizing: border-box;
    padding: 10px;
    border-radius: 50%;
    float:right;
    border: 1px solid gray
}
main{
    background-color: white;
    margin-left: 8.2%;
    margin-right: 8.2%;
    border-top-left-radius:0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    
}
.textao{
padding: 3em 1.5em 1em 1.5em;
}